@using Liberta.Dominio.Utils
@model List<Liberta.UI.Model.Usuario>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="tblResultado">
        <thead>
            <tr class="fontLi2" style="background-color: #5CBB61; font-size: 15px;">
                <td>Nome</td>
                <td>Perfil</td>
                <td>E-mail</td>
                <td>CPF</td>
                <td>RG</td>
                <td>Data de Nascimento</td>
                <td>Editar</td>
                <td>Ativar/Inativar</td>
                @*<td>Excluir</td>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr class="fontLi2" style="font-size:14px;">
                <td>@item.Nome</td>
                <td>@Util.GetDescription(item.Perfil)</td>
                <td>@item.Email</td>
                <td>@item.CPF</td>
                <td>@item.RG</td>
                <td>@item.DataNascimento</td>
                <td>
                    <a id="btnEditar" data-id="@item.Id" style="font-size:15px; cursor:pointer;">
                        <i class="icon-pencil" title="Editar"></i>&nbsp;
                    </a>
                </td>
                @if (item.FlgAtivo == 1)
                {
                    <td>
                        <a id="btnInativar" data-id="@item.Id" style="font-size:15px; cursor:pointer;">
                            <i class="fas fa-user-times" title="Inativar"></i>&nbsp;
                        </a>
                    </td>
                }
                else
                {
                    <td>
                        <a id="btnAtivar" data-id="@item.Id" style="font-size:15px; cursor:pointer;">
                            <i class="fas fa-user-check" title="Ativar"></i>&nbsp;
                        </a>
                    </td>
                }
                @*<td>
                    <a id="btnExcluir" data-id="@item.Id" style="font-size:15px; cursor:pointer;">
                        <i class="icon-trash" title="Excluir"></i>&nbsp;
                    </a>
                </td>*@
            </tr>
            }
        </tbody>
    </table>
</div>
@section Styles {
    <link rel="stylesheet" href="~/vendor/jquery-bootgrid/dist/jquery.bootgrid.css">
}
@section Scripts{
    <script src="@Scripts.Url("~/Vendor/jquery-bootgrid/dist/jquery.bootgrid.js")"></script>
    <script src="@Scripts.Url("~/Vendor/jquery-bootgrid/dist/jquery.bootgrid.fa.js")"></script>

}
<script>
    $(document).ready(function () {

    });

    $("#tblResultado").on("click", '#btnEditar', function (e) {
        e.preventDefault();

        var id = $(this).attr('data-id');
        debugger;
         $.ajax({
            type: "POST",
            url: '@Url.Action("Editar", "Usuario")',
            data: { id: id },
            cache: false
        }).done(function (data) {
            $("#Id").val(data.Id);
            $("#Nome").val(data.Nome);
            $("#Email").val(data.Email);
            $("#Senha").val(data.Senha);
            $("#CPF").val(data.CPF);
            $("#RG").val(data.RG);
            $("#DataNascimento").val(data.DataNascimento);
            $("#Telefone").val(data.Telefone);

            if (data.Perfil == "1") {
                $("#Perfil option:nth-child(2)").removeAttr("selected");
                $("#Perfil option:nth-child(1)").attr("selected", "selected");
            }
            else if (data.Perfil == "2") {
                $("#Perfil option:nth-child(1)").removeAttr("selected");
                $("#Perfil option:nth-child(2)").attr("selected", "selected");
            }

            debugger;
        });

    });

    $("#tblResultado").on("click", '#btnExcluir', function (e) {
        e.preventDefault();

        var id = $(this).attr('data-id');

        swal({
            title: 'Confirma a exclusão?',
            text: 'Deseja mesmo deletar este usuário?',
            icon: 'warning',
            buttons: {
                cancel: true,
                confirm: {
                    text: 'Sim, quero deletar!',
                    value: true,
                    visible: true,
                    className: "bg-danger",
                    closeModal: true
                }
            }
        }).then(function () {
            Excluir(id);
        });

    });

    $("#tblResultado").on("click", '#btnAtivar', function (e) {
        e.preventDefault();

        var id = $(this).attr('data-id');

        swal({
            title: 'Confirma a ativação?',
            text: 'Deseja mesmo ativar este usuário?',
            icon: 'warning',
            buttons: {
                cancel: true,
                confirm: {
                    text: 'Sim, quero ativar!',
                    value: true,
                    visible: true,
                    className: "bg-danger",
                    closeModal: true
                }
            }
        }).then(function () {
            Ativar(id);
        });

    });

    $("#tblResultado").on("click", '#btnInativar', function (e) {
        e.preventDefault();

        var id = $(this).attr('data-id');

        swal({
            title: 'Confirma a operação?',
            text: 'Deseja mesmo inativar este usuário?',
            icon: 'warning',
            buttons: {
                cancel: true,
                confirm: {
                    text: 'Sim, quero inativar!',
                    value: true,
                    visible: true,
                    className: "bg-danger",
                    closeModal: true
                }
            }
        }).then(function () {
            Inativar(id);
        });

    });

    function Excluir(id) {
         $.ajax({
            type: "POST",
            url: '@Url.Action("Excluir", "Usuario")',
            data: { id: id },
            cache: false,
             success: function (data) {
                 swal("Sucesso!", "Usuário excluído com sucesso.", "success")
             },
             error: function (jqXHR, txtStatus, errorThrown) {
                 swal("Erro!", errorThrown, "error");
             }
        });

    }

    function Ativar(id) {
         $.ajax({
            type: "POST",
            url: '@Url.Action("Ativar", "Usuario")',
            data: { id: id },
            cache: false,
             success: function (data) {
                 swal("Sucesso!", "Operação realizada com sucesso.", "success")
             },
             error: function (jqXHR, txtStatus, errorThrown) {
                 swal("Erro!", errorThrown, "error");
             }
        });

    }

    function Inativar(id) {
         $.ajax({
            type: "POST",
            url: '@Url.Action("Inativar", "Usuario")',
            data: { id: id },
            cache: false,
             success: function (data) {
                 swal("Sucesso!", "Operação realizada com sucesso.", "success")
             },
             error: function (jqXHR, txtStatus, errorThrown) {
                 swal("Erro!", errorThrown, "error");
             }
        });

    }
</script>
